.container{
    min-height:100%;
    width:100%;
    display:flex;
    flex-direction: column;
    gap:20px;
    input{
        width:100%;
        background:transparent;
        border:1px white solid;
        border-radius:12px;
        padding:4px 10px;
        transition:all .1s linear;
        &:focus{
            outline:none;
            border:green solid 1px;
        }
    }
    button{
        background:rgb(82, 171, 62);
        width:fit-content;
        padding:4px 10px;
        border-radius:12px;
    }
}