.container{
    width:90%;
    height:40px;
    background:rgb(49, 158, 231);
    margin:20px auto;
    color:rgb(255, 255, 255);
    border-radius:10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:18px;
    font-weight: bolder;
    user-select: none;
    transition: .1s all linear;
    &:hover{
        transform: scale(1.02);
    }

}